.container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 150px auto; /* Aumentar el margen superior para bajar el contenedor */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0; /* Eliminar el margen predeterminado */
    
    
}

h2 strong {
    display: block; /* Mostrar elementos <strong> como bloques */
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre elementos */
}

ul {
    list-style-type: none; /* Eliminar los marcadores de lista */
    padding: 0;
}

li {
    margin-bottom: 10px; /* Espacio entre elementos de lista */
}
